            </div>
        </div>
        
    </div>
    <footer class="back-col">
        <div class="card back-col">
            <div class="card-body text-white">
                <h4 class="text-center">MAGESTI</h4>
                <p class="card-text text-center">Remericement</p>
            </div>
        </div>
    </footer>
    <script src="/js/jquery.3.2.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>