<%- include("./global/header.ejs") %> 
<div class="row">
    <div class="col">
        <div>
            <img class="img-thumbnail" src="/images/workbench.jpg" alt="background-ac" />
        </div>
        <div class="row quick-link mb-4">
            <div class="col-3">
                <div class="card bg-default">
                    <div class="card-header border-primary">
                        <h3><a href="/clients/0" class="text-primary card-link"><i class="fa fa-users"></i> Clients</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <% if (matricule[0]+matricule[1] === "VB") { %> 
                <div class="card bg-default">
                    <div class="card-header border-warning">
                        <h3><a href="/taches" class="text-warning card-link"><i class="fa fa-tasks"></i> Taches</a></h3>
                    </div>
                </div>
                <% } else { %>
                    <div class="card bg-default">
                        <div class="card-header border-warning">
                            <h3><a href="/livraisons" class="text-warning card-link"><i class="fa fa-car"></i> Taches</a></h3>
                        </div>
                    </div>
                <% } %> 
            </div>
            <div class="col-3">
                <div class="card bg-default">
                    <div class="card-header border-success">
                        <h3><a href="/produits/0" class="text-success card-link"><i class="fa fa-cubes"></i> Produits</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <% if (matricule[0]+matricule[1] === "VB") { %> 
                <div class="card">
                    <div class="card-header bg-default border-danger">
                        <h3></i><a href="/etatVente" class="text-danger card-link"><i class="fa fa-money"></i> Etat de vente</a></h3>
                    </div>
                </div>
                <% } else { %>
                    <div class="card">
                        <div class="card-header bg-default border-danger">
                            <h3></i><a href="/etatLivraison" class="text-danger card-link"><i class="fa fa-truck"></i> Etat de livraison</a></h3>
                        </div>
                    </div>
                <% } %> 

            </div>
        </div>
    </div>
</div>
<%- include("./global/footer.ejs") %> 