<%- include("./global/header.ejs") %> 
<div class="row">
    <div class="col">
        <div>
            <img class="img-thumbnail" src="/images/workbench.jpg" alt="background-ac" />
        </div>
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6"></div>
        </div>
    </div>
</div>
<%- include("./global/footer.ejs") %> 