.back {
    background: rgb(206, 188, 218);
    height: 100vh;
}

.form-login {
    border-radius: 30%;
    margin-top: 30vh;
}

.t {
    width: 250ch;
}

.h a:hover{
    text-decoration: none;
}

.droite {
    margin-right: 0;
    margin-left: 80ch;
}

.profile-pic{
    border-radius: 50%;
    max-width: 50px;
}

.menu {
    height: 80vh;
}

.margetop {
    margin-top: 5.5rem !important;
}

.back-col{
    background: rgb(160, 160, 160);
}

.discussion-left{
    height: 80vh;
    border: 1px solid #000;
}

.discussion-right{
    height: 80vh;
    border: 1px solid #000;
    overflow: scroll;
}

.img-l{
    margin-right: 70px;
}

.img-r{
    margin-left: 70px;
}

.cont-middle{
    margin-top: 20vh;
}
